!!! 5
html(lang='en')
	head
		meta(charset='utf-8')
		title Partido De La Red
		meta(name='description', content='')
		meta(name='author', content='')

		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')

		link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css", rel="stylesheet")
		link(rel='stylesheet', href='stylesheets/base.css')
		link(rel='stylesheet', href='stylesheets/layout.css')
		//if lt IE 9
			script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')

		link(rel='shortcut icon', href='images/favicon.ico')
		link(rel='apple-touch-icon', href='images/apple-touch-icon.png')
		link(rel='apple-touch-icon', sizes='72x72', href='images/apple-touch-icon-72x72.png')
		link(rel='apple-touch-icon', sizes='114x114', href='images/apple-touch-icon-114x114.png')
		
		script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js')
		// script(type='text/javascript', src='https://github.com/protonet/jquery.inview/raw/master/jquery.inview.min.js')
		// script(type='text/javascript', src='javascripts/vendor/scroll-parallax/jquery.scrollParallax.min.js')
		script(type="text/javascript", src="//raw.github.com/flesler/jquery.scrollTo/master/jquery.scrollTo.min.js")
		script(type="text/javascript", src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/js/bootstrap.min.js")

		script(type="text/javascript", src="javascripts/site.js")


		script(type='text/javascript', src='//use.typekit.net/nzi0bpe.js')
		script(type='text/javascript')
			try{Typekit.load();}catch(e){}
	body(data-spy="scroll", data-target=".navbar", data-offset="120")
		header.site-header
			h1
				a(href='#splash', title='Partido De La Red') Partido De La Red
			.social
				a(target="_blank", href='http://facebook.com/partidodelared', title='').facebook Facebook
				a(target="_blank", href='http://twitter.com/partidodelared', title='').twitter Twitter
			nav.navbar
				ul.nav
					li.hide.active
						a(href='#splash', title='') Manifiesto
					li
						a(href='#manifiesto', title='') Manifiesto
					li
						a(href='#democracia', title='') Democracia En Red
					li 
						a(href='#argentina', title='') Buenos Aires
					li
						a(href='#quienes-somos', title='') Quienes Somos
					li
						a(href='#colaborar', title='') Colaborar

		section.splash.section#splash
			.section-title
				.section-content
					p
						img(src="images/logo.png")
					h1 Somos la Red
					p.description
						| Vivimos en una democracia estancada que no atiende a las nuevas demandas. Nuestra propuesta es la Democracia en Red: abrir el ancho de banda de la participación, pensando en red y hackeando el sistema.
					a.btn.btn2.btn-kickstarter(href='#colaborar', title='Colabora en Kickstarter')
						| Como colaborar
					a.btn.btn2(href='#manifiesto', title='Mira nuestros videos') Nuestro manifiesto
			
			a(href="#manifiesto").arrow-down


		section.videos-section.section#manifiesto
			.section-title
				h2 Manifiesto de la Red
				p.description
					| Fruto de las mismas prácticas que propone, este manifiesto expresa la voz de todos los que creemos en la consolidación de la democracia en la era de la red.
			.videos
				
				.video.florencia
					i
					span #Conciencia

				.video.lucia
					i
					span #cooperar

				.video.santiago
					i
					span #DemocraciaEstancada

				.video.esteban
					i
					span #Ideas


				.video.guido
					i
					span #Informacion
				.video.pia
					i
					span #DemocraciaEnRed
				.video.lucas
					i
					span #Dialogo
				.video.martin
					i
					span #DemocraciaEstancada
				.left
					.video.nicole
						i
						span #Instituciones
					.video.brenda
						i
						span #Comunidad
				.center
					.video.video-large
						i
						span #PartidoDeLaRed
					.video.agustin
						i
						span #Ciudadano
					.video.valentina
						i
						span #Franqueza
				.right
					.video.sebastian
						i
						span #Transparencia
					.video.santis
						i
						span #Participacion
				
				.video.gonzalo
					i
					span #Empatia
				
				.video.mariano
					i
					span #Derechos


				.video.felipe
					i
					span #Red

				.video.francisco
					i
					span #Pares

				.video.pablo
					i
					span #InteligenciaColectiva

				.video.ricardo
					i
					span #SoftwareLibre
		
		section.democracy-network.section#democracia
			.section-title
				h2 Democracia en red
				p.description
					| Nuestro software, de código abierto y libre, es una plataforma que permite a todo ciudadano hacerle llegar su voto diario a los legisladores de la red.

			.browser


				a(href="", data-toggle="popover", data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.", data-title="Crear problematica", data-placement="left").dot-write.dot
					span.mapMarkGlow
					span.mapMarkShape

				a(href="", data-toggle="popover", data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.", data-title="Perfil de usuario", data-placement="left").dot-profile.dot
					span.mapMarkGlow
					span.mapMarkShape

				a(href="", data-toggle="popover", data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.", data-title="Problematica", data-placement="right").dot-problematica.dot
					span.mapMarkGlow
					span.mapMarkShape

				a(href="", data-toggle="popover", data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.", data-title="Propuestas", data-placement="right").dot-propuestas.dot
					span.mapMarkGlow
					span.mapMarkShape

				a(href="", data-toggle="popover", data-content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.", data-title="Delegaciones", data-placement="left").dot-delegar.dot
					span.mapMarkGlow
					span.mapMarkShape



		section.argentina.section#argentina
			.section-title
				h2 Buenos Aires
		
			.argentina-content.clearfix
				.video-buenos-aires
					iframe(width='560', height='315', src='http://www.youtube.com/embed/mfEsv0JgMik', frameborder='0', allowfullscreen='allowfullscreen')

				.what-we-need
					p Somos un partido con el objetivo de abrir el ancho de banda de la democracia: no alcanza con votar cada dos años si podemos expresarnos todos los días usando la red.
					p Los legisladores de la red se comprometen a votar siempre acorde a lo que se resuelve online en la Democracia en Red. Cada click es ahora también un voto.

					a(href="").btn.btn-white Enviar datos
					a(href="").btn.btn-white Preguntas Frecuentes

		section.who-we-are.section.clearfix#quienes-somos
			.section-title
				h2 Quienes Somos
				.clearfix
					p.description.left
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper metus a nunc rutrum viverra eget vitae nulla. Sed et eros eu nulla consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper metus a nunc rutrum viverra eget vitae nulla.
					p.description.right
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper metus a nunc rutrum viverra eget vitae nulla. Sed et eros eu nulla consectetur .Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper metus a nunc rutrum viverra eget vitae nulla.
		
			.members.clearfix
				- each member in members
					- var status = member.statuses[0]
					- var date = new Date(status.created_at)
					a(href=member.url
						, data-toggle="popover"
						, data-html="true"
						, data-content= "<span>" + date.toLocaleDateString() + " " + date.toLocaleTimeString() + "</span>" + "<br />" + status.text
						, data-title=member.name) 
						img(src=member.image)


			.join-the-team
				p Si te interesa participar del equipo del Partido De La Red 
					a(href="").btn Ingresa con tu cuenta de Twitter

		section.how-to-join.section.clearfix#colaborar

			.colaborate-box
				.section-title
					h2 ¿Como puedo colaborar?
					p.description
						| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin semper metus a nunc rutrum viverra eget vitae nulla. Sed et eros eu nulla consectetur.
			
				a(href="").help-link.help-money
					i 
					| Dona dinero en 
					span Kickstarter


				a(href="").help-link.ideame
					i 
					| Dona dinero en 
					span Ideame

				a(href="").help-link.help-sign
					i
					| Firma el petitorio


				hr
				p Proin semper metus a nunc rutrum viverra eget vitae nulla. Sed et eros eu nulla consectetur.
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. 

		footer
			nav
				ul.nav
					li.hide.active
						a(href='#splash', title='') Manifiesto
					li
						a(href='#manifiesto', title='') Manifiesto
					li
						a(href='#democracia', title='') Democracia En Red
					li 
						a(href='#argentina', title='') Argentina
					li
						a(href='#quienes-somos', title='') Quienes Somos
					li
						a(href='#colaborar', title='') Colaborar
			
			.last-line © 2013 Partido De La Red — Buenos Aires, Argentina

	script
		$('.members a').popover({
			trigger: 'hover',
			placement: function (tip, element) {
				var offset = $(element).offset()
					, width = $(document).outerWidth()
					, horiz = 0.5 * width - offset.left
					, horizPlacement = horiz > 0 ? 'right' : 'left'
				return horizPlacement;
			}
		});




