/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
#Site Styles
#Page Styles
#Media Queries
#Font-Face */

/* #Site Styles
================================================== */

/* #Clearing
================================================== */
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0; 
}
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

a
	border: 0;
	outline: none !important;
	box-shadow: none !important;

body
	font-family: "ff-tisa-web-pro";
	background: #012140 url('../images/bg-splash.jpg')  left bottom fixed;
	background-size: cover;
	-webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
	-webkit-text-size-adjust: 100%;

h1,h2,h3,h4,h5,h6, .btn
	font-family: "brandon-grotesque";
	font-weight: bold;

.modal
	border-radius: 0;
	.modal-header
		text-transform: uppercase;
		h3 
			font-size: 20px;
			padding: 20px;

	label
		text-align: left;

.popover
	border-radius: 0;
	.popover-title
		background: white;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 2px;

.hide
	display: none;

.modal 
	margin-top: 100px;

.btn 
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	background: #fff;
	display: inline-block;
	padding: 12px 24px;
	border-radius: 3px;
	text-decoration: none;
	border: 2px solid #333;
	color: #333;
	text-shadow: none;
	border-width: 2px;
	box-shadow: none;

	&:hover
		background-color: #333;
		color: white;

	&.btn-white
		background: white;
		box-shadow: none;



.container
	padding: 0 50px;


header.site-header
	text-align: center;
	font-family: "brandon-grotesque";
	font-size: 12px;
	left: 0;
	right: 0;
	z-index: 10000;
	text-transform: uppercase;
	letter-spacing: 1px;
	overflow: hidden;
	h1 
		font-size: 12px;
		line-height: 12px;
		display: inline-block;
		margin: 0;
		padding: 0;
		float: left;
		padding-top: 2px;
		padding: 24px 0;

	a 
		text-decoration: none;
		font-weight: bold;
		line-height: 12px;
		color: black;

	button.btn-navbar
		margin-top: 15px;

	.navbar-fixed-top
		margin-bottom: 0;

	.navbar .container 
		padding: 0 50px;

	.navbar-inverse .navbar-inner
		background: none;
		padding: 0;
		box-shadow: none;
		border: 0;
		text-shadow: none;
		background: rgba(255,255,255,.96);
		ul.nav
			text-align: right;
			float: right;
			padding: 0;
			margin: 0;
			li 
				display: inline-block;
				margin: 0;
				padding: 0;
				display: inline-block;
				float: none;

				a 
					margin: 0 16px;
					padding: 0;
					color: #999;
					background: none;
					box-shadow: none;
					text-shadow: none;
					padding: 24px 0;

					&:hover
						background: none;
						box-shadow: none;
				&.active
					a 
						color: #333;

				&.hide
					display: none;

			&.in 
				float: none;
				margin: 0;
				li 
					display: block;
					a 
						display: block;
						margin: 0;
						text-align: center;
						padding: 18px 0;
						border-top: 1px solid #ccc;

	.social
		float: right;
		margin-top: -5px;
		display: none;
		a 
			width: 24px;
			height: 20px;
			display: block;
			text-indent: -1000em;
			float: left;
			margin-left: 14px;

		.twitter
			background: url('../images/icon-twitter.png') center no-repeat;

		.facebook
			background: url('../images/icon-facebook.png') center no-repeat;


section.section
	padding: 100px 50px;
	background: white;

	.section-title
		text-align: center;
		width: 660px;
		margin: auto auto 80px auto;
		h2
			text-transform: uppercase;
			font-size: 24px;
			font-weight: 900;
			padding-bottom: 0;
			line-height: 28px;
			margin-bottom: 10px;
			display: inline-block;
			letter-spacing: 5px;

		.description
			font-size: 18px;
			line-height: 34px;
			margin-top: 20px;

		.btn 
			color: #333;

	&.splash
		text-align: center;	
		color: white;
		height: 800px;
		overflow: hidden;
		background: transparent;
		padding: 0;
		position: relative;
		img 
			height: 70px;
		.section-title
			background: #000;
			background: rgba(0,0,0,.82);
			width: 700px;
			margin: auto;
			padding: 40px;
			margin-top: 120px;

			.section-content
				opacity: 0;
				animation:fadeIn ease-in 1;
				animation-fill-mode:forwards;
				animation-duration:1s;
			h1
				color: white;
				font-weight: 900;
				font-size: 38px;
				text-transform: uppercase;
				display: inline-block;
				letter-spacing: 2px;
				margin-bottom: 0;

			.description
				font-size: 20px;
				padding: 0px;
				margin-bottom: 40px;



			.btn
				margin-bottom: 20px;
				color: rgba(0,0,0,.9);
				margin: 0 14px ;
				border: 2px solid white;
				background: none;
				color: white;
				padding-left: 0;
				padding-right: 0;
				width: 220px;
				text-align: center;

				&:hover
					background-color: white;
					color: #333;
					border-color: white;


				&.btn-kickstarter
					border-color: #97d842;
					color: #fff;
					&:hover
						background-color: #97d842;
						color: #222;


			.btn.btn2
				color: white;


		.arrow-down
			height: 36px;
			background-color:#b4b9bc;
			background-color: rgba(180,185, 188, .9);
			display: block;
			position: absolute;
			bottom: 0;
			margin: auto;
			left: 40%;
			right: 40%;
			width: 50px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			i 
				background: url('../images/icon-arrow-down.png') no-repeat center;
				width: 20px;
				height: 10px;
				display: block;
				margin: 14px auto;
			&:hover
				opacity: 1;

	&.videos-section
		overflow: hidden;
		background: #edede4 url('../images/bg-network.png') repeat-x fixed; 
		background: #edede4; 
		text-align: center;
		.section-title
			margin-bottom: 50px;

		.modal
			width: 590px;
			background: #fff;

		a.btn.read-manifiesto
			display: inline-block;
			border: 2px solid #333;
			padding: 12px 20px;
			text-transform: uppercase;
			font-family: brandon-grotesque;
			color: #333;
			background: none;
			margin-top: 60px;

			&:hover
				background-color: #333;
				color: white;

		.videos
			margin: auto;
			text-align: center;
			.left
				float: left;
				width: 268px;
				padding-left: 20px;
			.video
				width: 248px;
				height: 150px;
				margin: 0 20px 20px 0;
				background: black;
				display: inline-block;
				background: url('../images/video-santi.png') center;
				background-size: cover;
				position: relative;

				span
					position: absolute;
					bottom: 10px;
					left: 10px;
					color: white;


				i
					opacity: 0;
					background: rgba(0,0,0,.6) url('../images/icon-play.png') center no-repeat;
					background-size: 20%; 
					position: absolute;
					bottom: 0;
					top: 0;
					right: 0;
					left: 0;
					-webkit-transition: opacity .7s;
					
				&:hover
					i
						opacity: 1;
				&.guido 
					background-image: url('../images/videos/guido.png');

				&.pia 
					background-image url('../images/videos/pia.png');

				&.lucas 
					background-image: url('../images/videos/lucas.png');

				&.martin 
					background-image: url('../images/videos/martin.png');

				&.nicole 
					background-image: url('../images/videos/nicole.png');

				&.brenda 
					background-image: url('../images/videos/brenda.png');

				&.agustin 
					background-image: url('../images/videos/agustin.png');

				&.valentina 
					background-image: url('../images/videos/valentina.png');


				&.sebastian 
					background-image: url('../images/videos/sebi.png');

				&.santis 
					background-image: url('../images/videos/santis.png');

				&.gonzalo 
					background-image: url('../images/videos/gonzalo.png');

				&.mariano 
					background-image: url('../images/videos/mariano.png');

				&.florencia 
					background-image: url('../images/videos/florencia.png');

				&.esteban 
					background-image: url('../images/videos/esteban.png');

				&.santiago 
					background-image: url('../images/videos/santiago.png');


				&.lucia 
					background-image: url('../images/videos/lucia.png');


				&.felipe 
					background-image: url('../images/videos/felipe.png');

				&.francisco 
					background-image: url('../images/videos/francisco.png');

				&.ricardo 
					background-image: url('../images/videos/ricardo.png');

				&.pablo 
					background-image: url('../images/videos/pablo.png');

				&.video-large
					background-image: url('../images/videos/all.png');
					width: 516px;
					height: 320px;

	&.democracy-network
		background: white;
		.section-title	
			margin-bottom: 40px;
			.btn
				margin-top: 20px;

		.browser
			position: relative;
			overflow: visible;
			margin: auto;
			margin-top: 0px;
			text-align: center;
			max-width: 800px;

			.dot
				position: absolute;
				width: 60px;
				height: 60px;
				display: block;

				&.dot-problematicas
					top: 75px;
					left: 116px;

				&.dot-write
					top: 75px;
					right: 190px;


				&.dot-profile
					top: 74px;
					right: 66px;


				&.dot-problematica
					top: 163px;
					left: 24px;


				&.dot-propuestas
					bottom: 138px;
					left: 18px;


				&.dot-delegar
					bottom: 138px;
					right: 270px;


			.popover
				margin-top: 18px;

				p
					margin-bottom: 10px;

			.mapMarkShape
				position: absolute;
				top: 24px;
				left: 24px;
				width: 10px;
				height: 10px;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				-webkit-box-shadow: 0 0 2px white;
				/* background: #ee2200 -webkit-gradient(radial, 5 3, 0, 5 5, 5, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));			 */
				background: #ff2400;


			.mapMarkGlow
				position: absolute;
				top: 9px;
				left: 9px;
				width: 30px;
				height: 30px;	
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				border: 5px solid red;
				opacity: 0;
				
				-webkit-animation-name: 'blip';
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-timing-function: ease-in-out;


			.mapMark.visited .mapMarkShape 
				background-color: #936760;

			.mapMark.visited .mapMarkGlow 
				-webkit-animation-name: 'blip2';
				border-color: transparent;




	&.how-contribute
		background-color: #2cabed;

	&.argentina
		background: #d4dada url('../images/bg-argentina.jpg') fixed;
		background-size: 110%;
		min-height: 400px;


		.argentina-content
			width: 90%;
			margin: auto;

			.video-buenos-aires
				width: 48%;
				float: left;
				margin-right: 4%;
				background-size: 20%;
				iframe 
					width: 100%;

			.what-we-need
				width: 48%;
				float: left;
				font-size: 20px;
				line-height: 34px;
				color: black;


				.btn
					margin-top: 20px;
					padding: 10px 20px;
					background: #fff;
					border: 2px solid #434749;
					margin-right: 20px;

					&:hover
						background-color: #d4dada;
						color: #434749;

	&.who-we-are
		background: white;
		padding: 100px 0 100px 0;
		.section-title
			padding: 0 50px;
			margin-bottom: 40px;
			width: auto;
			h2
				margin-bottom: 50px;

		.description
			width: 48%;
			float: left;
			text-align: left;

			&.left
				margin-right: 4%;

		.members
			a 
				width: 10%;
				float: left;
				display: block;
				opacity: .8;
				-webkit-transition: opacity .7s;

				&:hover
					opacity: 1;
				img 
					width: 100%;
					height: auto;
					display: block;

		.join-the-team
			text-align: center;
			font-size: 20px;
			padding: 20px 20px 5px 20px;
			margin-top: 100px;

			.btn.btn-join
				display: inline-block;
				border-color: #2cabed;
				background: none;
				color: #2cabed;
				margin-left: 30px;
				line-height: 20px;
				margin-top: -5px;

				&:hover
					background-color: #2cabed;
					color: white;

		.modal 
			width: 500px;
			.modal-header
				margin-bottom: 20px;

		.thanks-message
			padding: 20px;

		.btn-sumate-ahora
			margin-top: 20px;

	&.how-to-join
		background: #dcdcd3  url('../images/bg-congress-2.jpg') fixed;
		background-size: cover;


		.colaborate-box
			padding: 20px;
			text-align: center;
			.help-link
				margin-bottom: 20px;
				width: 300px;
				display: block;
				text-align: center;
				background: #333;
				padding: 2%;
				margin: auto;
				color: white;
				text-decoration: none;
				font-family: "brandon-grotesque";
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 11px;
				border-radius: 3px;
				background: #222 url('../images/logo-kickstarter.png') center 56px  no-repeat ;

				&.ideame
					background: #fff url('../images/logo-ideame.png') center 40px  no-repeat ;
					color: #333;

				&.help-sign
					/*margin-right: 0;*/
					background: #d6765f url('../images/icon-sign.png') center 30px  no-repeat ;

				i 
					width: 100px;
					height: 100px;
					display: block;

		p
			font-size: 16px;
			line-height: 34px;
			text-align: center;

			&:last-child
				margin-bottom: 0;


	&.links
		padding: 0;
		color: white;
		.link-box
			display: inline-block;
			width: 50%;
			float: left;
			text-transform: uppercase;
			background: #f1f1f1;
			font-family: "brandon-grotesque";
			text-align: center;
			padding: 70px 0;
			font-size: 16px;
			span
				display: block;
				margin-bottom: 20px;
				letter-spacing: 2px;

			&.facebook
				color: #3a5998;
				box-shadow: #ccc 1px 0  0 inset;
				iframe
					background: white;
					margin-top: 3px;
					padding: 10px;
					border: none; overflow: hidden; width: 450px; height: 24px;

			&.twitter
				color: #0babed;
				background: rgba(0,0,0,.08)

				iframe
					margin: 12px 20px 8px 20px;

			&.wiki, &.blog
				height: 45px;
				padding-top: 95px;
				a
					color: white;	

			&.wiki
				background-color: #6e303a;

			&.blog
				background-color: #2d6751;
footer
	font-family: "brandon-grotesque";
	background: #222;
	text-align: center;  
	color: #cacac2;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 11px; letter-spacing: 3px;
	nav 
		padding: 60px;
		ul.nav
			margin: 0;
			li 
				display: inline-block; margin: 0; padding: 0;
				a 
					display: inline-block; color: #cacac2;  padding: 0; text-decoration: none;  margin: 0 20px;
					&:hover
						color: #fff; background: none;
	.last-line
		border-top: 1px solid #333; padding: 20px; color: #cacac2;

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) 
	section.section
		padding: 100px 20px;

	section.section.argentina 
		.argentina-content
			.video-buenos-aires
				float: none;
				width: 520px;
				margin: auto;

			.what-we-need
				margin: auto;
				margin-top: 40px;
				float: none;
				width: 94%;
				text-align: center;
				.btn 
					margin: 30px 20px 0 30px;

	footer
		nav 
			padding: 40px 0;
			ul.nav
				li 
					a 
						margin: 0 14px;

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) 
	section.section 
		.section-title
			width: auto;

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) 
	body
		padding: 0;

	section.section 
		padding: 40px;
		background-image: none !important;
		.section-title
			width: auto;
			margin-bottom: 30px;
			h2 
				font-size: 18px;
			.description
				font-size: 16px;
				line-height: 28px;

	section.section.splash 
		padding: 0;
		height: auto !important; 
		.section-title
			width: auto;
			margin: 0;
			bottom: 0;

			.description
				font-size: 16px;
				line-height: 28px;

			.btn 
				margin-bottom: 20px;

		.arrow-down
			display: none;

	section.section.argentina .argentina-content 
		width: auto;
		.video-buenos-aires
			width: auto;

	section.section.who-we-are 
		padding-top: 40px;
		.description
			float: none;
			width: 100%;
			margin: 0;
			text-align: center;
		.join-the-team 
			margin-top: 20px;
			.btn.btn-join
				display: block;
				margin-top: 30px;

	section.section.democracy-network .browser
		background-size: cover;
		width: auto;
			
		.dot 
			display: none;

	section.section.who-we-are .members a
		width: 20%;


	section.section.links .link-box
		padding: 30px 0;
		float: none;
		width: 100%;
	section.section.argentina .argentina-content .video-buenos-aires iframe
		height: 200x;

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) 
	body
		color: none;



	section.section.splash .section-title
		padding: 20px;
		.description
			font-size: 16px;

		.btn 
			margin-bottom: 20px;

	footer
		font-size: 10px;

		nav 
			display: none;

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px)
	body
		color: none;


