/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
#Site Styles
#Page Styles
#Media Queries
#Font-Face */

/* #Site Styles
================================================== */

/* #Clearing
================================================== */
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

/* Self Clearing Goodness */
.container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
	content: '\0020';
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0; 
}
.row:after,
.clearfix:after {
  clear: both; }
.row,
.clearfix {
  zoom: 1; }

/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}


body
	font-family: "ff-tisa-web-pro";
	background: #012140 url('../images/bg-splash.jpg')  left bottom fixed;
	background-size: cover;

a:visited
	color: inherit;

h1,h2,h3,h4,h5,h6, .btn
	font-family: "brandon-grotesque";
	font-weight: bold;


.popover
	border-radius: 0;
	.popover-title
		background: white;
		text-transform: uppercase;
		font-size: 11px;
		letter-spacing: 2px;

.hide
	display: none;

.btn 
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	background: #97d842;
	display: inline-block;
	padding: 12px 24px;
	border-radius: 3px;
	text-decoration: none;
	color: #333;
	box-shadow: 0 -2px 2px  rgba(0,0,0,.2) inset;
	border: 0;
	text-shadow: none;

	&.btn-white
		background: white;
		box-shadow: none;


.btn.btn2
	border: 2px solid white;
	background: rgba(0,0,0,.7)
	text-shadow: none;
	color: white;

	span
		color: #97d842;

	&:hover
		background-color: black;
		border-color: #3f90ba;
		color: #3f90ba;



header.site-header
	text-align: center;
	font-family: "brandon-grotesque";
	font-size: 12px;
	padding: 28px 50px 20px 50px;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 10000;
	background: rgba(255,255,255,.96);
	text-transform: uppercase;
	letter-spacing: 2px;
	h1 
		font-size: 12px;
		line-height: 12px;
		display: inline-block;
		margin: 0;
		padding: 0;
		position: fixed;
		left: 50px;
	a 
		text-decoration: none;
		font-weight: bold;
		line-height: 12px;
		color: black;
	nav.navbar
		display: inline-block;
		padding: 0;
		margin: 0;
		ul.nav
			margin: 0;
			padding: 0;
			li 
				float: left;
				margin: 0;
				padding: 0;
				a 
					margin: 0 20px;
					padding: 0;
					color: #999;
					background: none;
					box-shadow: none;
					text-shadow: none;

					&:hover
						background: none;
						box-shadow: none;
				&.active
					a 
						color: #333;
	.social
		position: fixed;
		right: 50px;
		top: 24px;
		a 
			width: 24px;
			height: 20px;
			display: block;
			text-indent: -1000em;
			float: left;
			margin-left: 20px;

		.twitter
			background: url('../images/icon-twitter.png') center no-repeat;

		.facebook
			background: url('../images/icon-facebook.png') center no-repeat;


section.section
	padding: 100px  50px;
	background: white;

	.section-title
		text-align: center;
		width: 600px;
		margin: auto auto 80px auto;
		h2
			text-transform: uppercase;
			font-size: 24px;
			font-weight: 900;
			padding-bottom: 0;
			line-height: 28px;
			margin-bottom: 30px;
			display: inline-block;
			letter-spacing: 5px;

		.description
			font-size: 16px;
			line-height: 34px;

		.btn 
			color: #333;

	&.splash
		text-align: center;	
		color: white;
		height: 800px;
		overflow: hidden;
		background: transparent;
		padding: 0;
		position: relative;
		img 
			height: 96px;
		.section-title
			background: rgba(0,0,0,.8);
			width: 580px;
			margin: auto;
			padding: 40px;
			margin-top: 140px;


			.section-content
				opacity: 0;
				animation:fadeIn ease-in 1;
				animation-fill-mode:forwards;
				animation-duration:1s;
			h1
				color: white;
				font-weight: 900;
				font-size: 40px;
				text-transform: uppercase;
				display: inline-block;
				letter-spacing: 2px;
				margin-bottom: 10px;

			.description
				margin-bottom: 30px;
				font-size: 20px;
				padding: 10px;

				a 
					color: #f9f9f9;
					margin: 0 10px;
					&.current
						color: white;

			.btn
				margin-bottom: 20px;
				color: rgba(0,0,0,.9);
				margin: 0 14px ;

				&.btn-kickstarter
					border-color: #97d842;

			.btn.btn2
				color: white;

		position: relative;

		.arrow-down
			width: 30px;
			height: 36px;
			background: #edede4 url('../images/icon-arrow-down.png') no-repeat center;
			display: block;
			position: absolute;
			bottom: 0;
			margin: auto;
			left: 48%;
			width: 4%;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;

			&:hover
				opacity: .9;

	&.videos-section
		overflow: hidden;
		background: #edede4 url('../images/bg-network.png') repeat-x fixed; 

		.videos
			width: 1080px;
			margin: auto;
			.left
				float: left;
				width: 268px;
			.video
				width: 248px;
				height: 150px;
				margin: 0 20px 20px 0;
				background: black;
				display: inline-block;
				float: left;
				background: url('../images/video-santi.png');
				position: relative;

				span
					position: absolute;
					bottom: 10px;
					left: 10px;
					color: white;


				i
					display: none;
					background: rgba(0,0,0,.6) url('../images/icon-play.png') center no-repeat;
					background-size: 20%; 
					position: absolute;
					bottom: 0;
					top: 0;
					right: 0;
					left: 0;
					
				&:hover
					i
						display: block;
				&.santi 
					background: url('../images/video-santi.png');

				&.pia 
					background: url('../images/video-santi.png');

				&.ricardo 
					background: url('../images/video-ricardo.png');

				&.gonzalo 
					background: url('../images/video-gonzalo.png');


				&.video-large
					background: url('../images/video-manu.png');
					width: 516px;
					height: 320px;

	&.democracy-network
		background: white url('../images/bg-icons.png')  center 480px repeat-x;
		.section-title	
			margin-bottom: 40px;
			.btn
				margin-top: 20px;

		.browser
			position: relative;
			overflow: visible;
			background: white url('../images/browser.png') center no-repeat ;
			width: 800px;
			height: 600px;
			margin: auto;
			margin-top: 0px;

			.dot
				position: absolute;
				width: 60px;
				height: 60px;
				display: block;

				&.dot-problematicas
					top: 74px;
					left: 266px;

				&.dot-write
					top: 74px;
					right: 190px;


				&.dot-profile
					top: 74px;
					right: 66px;


				&.dot-problematica
					top: 190px;
					left: 60px;


				&.dot-propuestas
					bottom: 150px;
					left: 60px;


				&.dot-delegar
					bottom: 140px;
					right: 40px;


			.popover
				margin-top: 18px;

				p
					margin-bottom: 10px;

			.mapMarkShape
				position: absolute;
				top: 24px;
				left: 24px;
				width: 10px;
				height: 10px;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				-webkit-box-shadow: 0 0 2px white;
				/* background: #ee2200 -webkit-gradient(radial, 5 3, 0, 5 5, 5, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));			 */
				background: #ff2400;


			.mapMarkGlow
				position: absolute;
				top: 9px;
				left: 9px;
				width: 30px;
				height: 30px;	
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				border: 5px solid red;
				opacity: 0;
				
				-webkit-animation-name: 'blip';
				-webkit-animation-duration: 2s;
				-webkit-animation-iteration-count: infinite;
				-webkit-animation-timing-function: ease-in-out;


			.mapMark.visited .mapMarkShape 
				background-color: #936760;

			.mapMark.visited .mapMarkGlow 
				-webkit-animation-name: 'blip2';
				border-color: transparent;




	&.how-contribute
		background-color: #2cabed;

	&.argentina
		background: #e2e9eb url('../images/bg-argentina.jpg');
		background-size: 110%;
		min-height: 400px;


		.argentina-content
			width: 90%;
			margin: auto;

			.video-manu
				width: 48%;
				height: 290px;
				background: black;
				float: left;
				margin-right: 4%;
				background: rgba(0,0,0,.6) url('../images/icon-play.png') center no-repeat;
				background-size: 20%; 

			.what-we-need
				width: 48%;
				float: left;
				font-size: 22px;
				line-height: 34px;
				color: black;


				.btn.btn-white
					padding: 10px 20px;
					margin-right: 20px;

	&.who-we-are
		background: white;
		padding: 100px 0 50px 0;
		.section-title
			padding: 0 50px;
			margin-bottom: 40px;
			width: auto;
			h2
				margin-bottom: 50px;

		.description
			width: 48%;
			float: left;
			text-align: left;

			&.left
				margin-right: 4%;

		.members
			a 
				width: 10%;
				float: left;
				display: block;
				opacity: .8;

				&:hover
					opacity: 1;
				img 
					width: 100%;
					height: auto;
					display: block;

		.join-the-team
			text-align: center;
			font-size: 20px;
			padding: 20px;
			margin-top: 80px;

			.btn
				display: inline-block;
				background-color: #2cabed;
				color: white;
				margin-left: 20px;
				line-height: 20px;
				margin-top: -4px;

	&.how-to-join
		background: #f1f1f1  url('../images/bg-congress-2.jpg');

		background-size: cover;


		.colaborate-box
			padding: 20px;

			.help-link
				margin-bottom: 20px;
				width: 26%;
				display: block;
				float: left;
				text-align: center;
				background: #333;
				margin: 0 2% 20px 2%;
				padding: 2%;
				color: white;
				text-decoration: none;
				font-family: "brandon-grotesque";
				font-weight: bold;
				text-transform: uppercase;
				letter-spacing: 1px;
				font-size: 11px;
				border-radius: 3px;
				background: #222 url('../images/logo-kickstarter.png') center 56px  no-repeat ;

				&.ideame
					background: #fff url('../images/logo-ideame.png') center 40px  no-repeat ;
					color: #333;

				&.help-sign
					margin-right: 0;
					background: #d6765f url('../images/icon-sign.png') center 30px  no-repeat ;

				i 
					width: 100px;
					height: 100px;
					display: block;

		p
			font-size: 16px;
			line-height: 34px;
			text-align: center;

footer
	font-family: "brandon-grotesque";
	background: #272723;
	text-align: center;  
	color: #cacac2;
	text-transform: uppercase;
	font-weight: 900;
	font-size: 11px; letter-spacing: 3px;
	nav 
		padding: 60px;
		ul 
			margin: 0;
		li 
			display: inline-block; margin: 0;
		a 
			display: inline-block; color: #cacac2; text-decoration: none;  margin: 0 30px;
			&:hover
				color: #fff;
	.last-line
		border-top: 1px solid #33332d; padding: 20px; color: #cacac2;

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/