/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/
/* Table of Content
==================================================
#Site Styles
#Page Styles
#Media Queries
#Font-Face */
/* #Site Styles
================================================== */
/* #Clearing
================================================== */
/* Self Clearing Goodness */
.container:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* Use clearfix class on parent to clear nested columns,
or wrap each row of columns in a <div class="row"> */
.clearfix:before,
.clearfix:after,
.row:before,
.row:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.row:after,
.clearfix:after {
  clear: both;
}
.row,
.clearfix {
  zoom: 1;
}
/* You can also use a <br class="clear" /> to clear columns */
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
a {
  border: 0;
  outline: none !important;
  box-shadow: none !important;
}
body {
  font-family: "ff-tisa-web-pro";
  background: #012140 url("../images/bg-splash.jpg") left bottom fixed;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
/* Fix for webkit rendering */
  -webkit-text-size-adjust: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.btn {
  font-family: "brandon-grotesque";
  font-weight: bold;
}
.modal {
  border-radius: 0;
}
.modal .modal-header {
  text-transform: uppercase;
}
.modal .modal-header h3 {
  font-size: 20px;
  padding: 20px;
}
.modal label {
  text-align: left;
}
.popover {
  border-radius: 0;
}
.popover .popover-title {
  background: #fff;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 2px;
}
.hide {
  display: none;
}
.modal {
  margin-top: 100px;
}
.btn {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  background: #fff;
  display: inline-block;
  padding: 12px 24px;
  border-radius: 3px;
  text-decoration: none;
  border: 2px solid #333;
  color: #333;
  text-shadow: none;
  border-width: 2px;
  box-shadow: none;
}
.btn:hover {
  background-color: #333;
  color: #fff;
}
.btn.btn-white {
  background: #fff;
  box-shadow: none;
}
.container {
  padding: 0 50px;
}
header.site-header {
  text-align: center;
  font-family: "brandon-grotesque";
  font-size: 12px;
  left: 0;
  right: 0;
  z-index: 10000;
  text-transform: uppercase;
  letter-spacing: 1px;
  overflow: hidden;
}
header.site-header h1 {
  font-size: 12px;
  line-height: 12px;
  display: inline-block;
  margin: 0;
  padding: 0;
  float: left;
  padding-top: 2px;
  padding: 24px 0;
}
header.site-header a {
  text-decoration: none;
  font-weight: bold;
  line-height: 12px;
  color: #000;
}
header.site-header button.btn-navbar {
  margin-top: 15px;
}
header.site-header .navbar-fixed-top {
  margin-bottom: 0;
}
header.site-header .navbar .container {
  padding: 0 50px;
  width: auto;
}
header.site-header .navbar-inverse .navbar-inner {
  background: none;
  padding: 0;
  box-shadow: none;
  border: 0;
  text-shadow: none;
  background: #fff;
  background: rgba(255,255,255,0.96);
}
header.site-header .navbar-inverse .navbar-inner ul.nav {
  text-align: right;
  float: right;
  padding: 0;
  margin: 0;
}
header.site-header .navbar-inverse .navbar-inner ul.nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
  display: inline-block;
  float: none;
}
header.site-header .navbar-inverse .navbar-inner ul.nav li a {
  margin: 0 16px;
  padding: 0;
  color: #999;
  background: none;
  box-shadow: none;
  text-shadow: none;
  padding: 24px 0;
}
header.site-header .navbar-inverse .navbar-inner ul.nav li a:hover {
  background: none;
  box-shadow: none;
}
header.site-header .navbar-inverse .navbar-inner ul.nav li.active a {
  color: #333;
}
header.site-header .navbar-inverse .navbar-inner ul.nav li.hide {
  display: none;
}
header.site-header .navbar-inverse .navbar-inner ul.nav.in {
  float: none;
  margin: 0;
}
header.site-header .navbar-inverse .navbar-inner ul.nav.in li {
  display: block;
}
header.site-header .navbar-inverse .navbar-inner ul.nav.in li a {
  display: block;
  margin: 0;
  text-align: center;
  padding: 18px 0;
  border-top: 1px solid #ccc;
}
header.site-header .social {
  float: right;
  margin-top: -5px;
  display: none;
}
header.site-header .social a {
  width: 24px;
  height: 20px;
  display: block;
  text-indent: -1000em;
  float: left;
  margin-left: 14px;
}
header.site-header .social .twitter {
  background: url("../images/icon-twitter.png") center no-repeat;
}
header.site-header .social .facebook {
  background: url("../images/icon-facebook.png") center no-repeat;
}
section.section {
  padding: 100px 50px;
  background: #fff;
}
section.section .section-title {
  text-align: center;
  width: 660px;
  margin: auto auto 80px auto;
}
section.section .section-title h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 0;
  line-height: 28px;
  margin-bottom: 10px;
  display: inline-block;
  letter-spacing: 5px;
}
section.section .section-title .description {
  font-size: 18px;
  line-height: 34px;
  margin-top: 20px;
}
section.section .section-title .btn {
  color: #333;
}
section.section.splash {
  text-align: center;
  color: #fff;
  height: 800px;
  overflow: hidden;
  background: transparent;
  padding: 0;
  position: relative;
}
section.section.splash img {
  height: 70px;
}
section.section.splash .section-title {
  background: #000;
  background: rgba(0,0,0,0.82);
  width: 700px;
  margin: auto;
  padding: 40px;
  margin-top: 120px;
}
section.section.splash .section-title .section-content {
  opacity: 0;
  animation: fadeIn ease-in 1;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}
section.section.splash .section-title h1 {
  color: #fff;
  font-weight: 900;
  font-size: 38px;
  text-transform: uppercase;
  display: inline-block;
  letter-spacing: 2px;
  margin-bottom: 0;
}
section.section.splash .section-title .description {
  font-size: 20px;
  padding: 0px;
  margin-bottom: 40px;
}
section.section.splash .section-title .btn {
  margin-bottom: 20px;
  color: rgba(0,0,0,0.9);
  margin: 0 14px;
  border: 2px solid #fff;
  background: none;
  color: #fff;
  padding-left: 0;
  padding-right: 0;
  width: 220px;
  text-align: center;
}
section.section.splash .section-title .btn:hover {
  background-color: #fff;
  color: #333;
  border-color: #fff;
}
section.section.splash .section-title .btn.btn-kickstarter {
  border-color: #97d842;
  color: #fff;
}
section.section.splash .section-title .btn.btn-kickstarter:hover {
  background-color: #97d842;
  color: #222;
}
section.section.splash .section-title .btn.btn2 {
  color: #fff;
}
section.section.splash .arrow-down {
  height: 36px;
  background-color: #b4b9bc;
  background-color: rgba(180,185,188,0.9);
  display: block;
  position: absolute;
  bottom: 0;
  margin: auto;
  left: 40%;
  right: 40%;
  width: 50px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
section.section.splash .arrow-down i {
  background: url("../images/icon-arrow-down.png") no-repeat center;
  width: 20px;
  height: 10px;
  display: block;
  margin: 14px auto;
}
section.section.splash .arrow-down:hover {
  opacity: 1;
}
section.section.videos-section {
  overflow: hidden;
  background: #edede4 url("../images/bg-network.png") repeat-x fixed;
  background: #edede4;
  text-align: center;
}
section.section.videos-section .section-title {
  margin-bottom: 50px;
}
section.section.videos-section .modal {
  width: 590px;
  background: #fff;
}
section.section.videos-section a.btn.read-manifiesto {
  display: inline-block;
  border: 2px solid #333;
  padding: 12px 20px;
  text-transform: uppercase;
  font-family: brandon-grotesque;
  color: #333;
  background: none;
  margin-top: 60px;
}
section.section.videos-section a.btn.read-manifiesto:hover {
  background-color: #333;
  color: #fff;
}
section.section.videos-section .videos {
  margin: auto;
  text-align: center;
}
section.section.videos-section .videos .left {
  float: left;
  width: 268px;
  padding-left: 20px;
}
section.section.videos-section .videos .video {
  width: 248px;
  height: 150px;
  margin: 0 20px 20px 0;
  background: #000;
  display: inline-block;
  background: url("../images/video-santi.png") center;
  background-size: cover;
  position: relative;
}
section.section.videos-section .videos .video span {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #fff;
}
section.section.videos-section .videos .video i {
  opacity: 0;
  background: rgba(0,0,0,0.6) url("../images/icon-play.png") center no-repeat;
  background-size: 20%;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  -webkit-transition: opacity 0.7s;
}
section.section.videos-section .videos .video:hover i {
  opacity: 1;
}
section.section.videos-section .videos .video.guido {
  background-image: url("../images/videos/guido.png");
}
section.section.videos-section .videos .video.pia {
  background-image: url("../images/videos/pia.png");
}
section.section.videos-section .videos .video.lucas {
  background-image: url("../images/videos/lucas.png");
}
section.section.videos-section .videos .video.martin {
  background-image: url("../images/videos/martin.png");
}
section.section.videos-section .videos .video.nicole {
  background-image: url("../images/videos/nicole.png");
}
section.section.videos-section .videos .video.brenda {
  background-image: url("../images/videos/brenda.png");
}
section.section.videos-section .videos .video.agustin {
  background-image: url("../images/videos/agustin.png");
}
section.section.videos-section .videos .video.valentina {
  background-image: url("../images/videos/valentina.png");
}
section.section.videos-section .videos .video.sebastian {
  background-image: url("../images/videos/sebi.png");
}
section.section.videos-section .videos .video.santis {
  background-image: url("../images/videos/santis.png");
}
section.section.videos-section .videos .video.gonzalo {
  background-image: url("../images/videos/gonzalo.png");
}
section.section.videos-section .videos .video.mariano {
  background-image: url("../images/videos/mariano.png");
}
section.section.videos-section .videos .video.florencia {
  background-image: url("../images/videos/florencia.png");
}
section.section.videos-section .videos .video.esteban {
  background-image: url("../images/videos/esteban.png");
}
section.section.videos-section .videos .video.santiago {
  background-image: url("../images/videos/santiago.png");
}
section.section.videos-section .videos .video.lucia {
  background-image: url("../images/videos/lucia.png");
}
section.section.videos-section .videos .video.felipe {
  background-image: url("../images/videos/felipe.png");
}
section.section.videos-section .videos .video.francisco {
  background-image: url("../images/videos/francisco.png");
}
section.section.videos-section .videos .video.ricardo {
  background-image: url("../images/videos/ricardo.png");
}
section.section.videos-section .videos .video.pablo {
  background-image: url("../images/videos/pablo.png");
}
section.section.videos-section .videos .video.video-large {
  background-image: url("../images/videos/all.png");
  width: 516px;
  height: 320px;
}
section.section.democracy-network {
  background: #fff;
}
section.section.democracy-network .section-title {
  margin-bottom: 40px;
}
section.section.democracy-network .section-title .btn {
  margin-top: 20px;
}
section.section.democracy-network .browser {
  position: relative;
  overflow: visible;
  margin: auto;
  margin-top: 0px;
  text-align: center;
  max-width: 800px;
}
section.section.democracy-network .browser .dot {
  position: absolute;
  width: 60px;
  height: 60px;
  display: block;
}
section.section.democracy-network .browser .dot.dot-problematicas {
  top: 75px;
  left: 116px;
}
section.section.democracy-network .browser .dot.dot-write {
  top: 75px;
  right: 190px;
}
section.section.democracy-network .browser .dot.dot-profile {
  top: 74px;
  right: 66px;
}
section.section.democracy-network .browser .dot.dot-problematica {
  top: 163px;
  left: 24px;
}
section.section.democracy-network .browser .dot.dot-propuestas {
  bottom: 138px;
  left: 18px;
}
section.section.democracy-network .browser .dot.dot-delegar {
  bottom: 138px;
  right: 270px;
}
section.section.democracy-network .browser .popover {
  margin-top: 18px;
}
section.section.democracy-network .browser .popover p {
  margin-bottom: 10px;
}
section.section.democracy-network .browser .mapMarkShape {
  position: absolute;
  top: 24px;
  left: 24px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 2px #fff;
/* background: #ee2200 -webkit-gradient(radial, 5 3, 0, 5 5, 5, from(rgba(255,255,255,.3)), to(rgba(255,255,255,0)));			 */
  background: #ff2400;
}
section.section.democracy-network .browser .mapMarkGlow {
  position: absolute;
  top: 9px;
  left: 9px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 5px solid #f00;
  opacity: 0;
  -webkit-animation-name: 'blip';
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
}
section.section.democracy-network .browser .mapMark.visited .mapMarkShape {
  background-color: #936760;
}
section.section.democracy-network .browser .mapMark.visited .mapMarkGlow {
  -webkit-animation-name: 'blip2';
  border-color: transparent;
}
section.section.how-contribute {
  background-color: #2cabed;
}
section.section.argentina {
  background: #d4dada url("../images/bg-argentina.jpg") fixed;
  background-size: 110%;
  min-height: 400px;
}
section.section.argentina .argentina-content {
  width: 90%;
  margin: auto;
}
section.section.argentina .argentina-content .video-buenos-aires {
  width: 48%;
  float: left;
  margin-right: 4%;
  background-size: 20%;
}
section.section.argentina .argentina-content .video-buenos-aires iframe {
  width: 100%;
}
section.section.argentina .argentina-content .what-we-need {
  width: 48%;
  float: left;
  font-size: 20px;
  line-height: 34px;
  color: #000;
}
section.section.argentina .argentina-content .what-we-need .btn {
  margin-top: 20px;
  padding: 10px 20px;
  background: #fff;
  border: 2px solid #434749;
  margin-right: 20px;
}
section.section.argentina .argentina-content .what-we-need .btn:hover {
  background-color: #d4dada;
  color: #434749;
}
section.section.who-we-are {
  background: #fff;
  padding: 100px 0 100px 0;
}
section.section.who-we-are .section-title {
  padding: 0 50px;
  margin-bottom: 40px;
  width: auto;
}
section.section.who-we-are .section-title h2 {
  margin-bottom: 50px;
}
section.section.who-we-are .description {
  width: 48%;
  float: left;
  text-align: left;
}
section.section.who-we-are .description.left {
  margin-right: 4%;
}
section.section.who-we-are .members a {
  width: 10%;
  float: left;
  display: block;
  opacity: 0.8;
  -webkit-transition: opacity 0.7s;
}
section.section.who-we-are .members a:hover {
  opacity: 1;
}
section.section.who-we-are .members a img {
  width: 100%;
  height: auto;
  display: block;
}
section.section.who-we-are .join-the-team {
  text-align: center;
  font-size: 20px;
  padding: 20px 20px 5px 20px;
  margin-top: 100px;
}
section.section.who-we-are .join-the-team .btn.btn-join {
  display: inline-block;
  border-color: #2cabed;
  background: none;
  color: #2cabed;
  margin-left: 30px;
  line-height: 20px;
  margin-top: -5px;
}
section.section.who-we-are .join-the-team .btn.btn-join:hover {
  background-color: #2cabed;
  color: #fff;
}
section.section.who-we-are .modal {
  width: 500px;
}
section.section.who-we-are .modal .modal-header {
  margin-bottom: 20px;
}
section.section.who-we-are .thanks-message {
  padding: 20px;
}
section.section.who-we-are .btn-sumate-ahora {
  margin-top: 20px;
}
section.section.how-to-join {
  background: #dcdcd3 url("../images/bg-congress-2.jpg") fixed;
  background-size: cover;
}
section.section.how-to-join .colaborate-box {
  padding: 20px;
  text-align: center;
}
section.section.how-to-join .colaborate-box .help-link {
  margin-bottom: 20px;
  width: 300px;
  display: block;
  text-align: center;
  background: #333;
  padding: 2%;
  margin: auto;
  color: #fff;
  text-decoration: none;
  font-family: "brandon-grotesque";
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 11px;
  border-radius: 3px;
  background: #222 url("../images/logo-kickstarter.png") center 56px no-repeat;
}
section.section.how-to-join .colaborate-box .help-link.ideame {
  background: #fff url("../images/logo-ideame.png") center 40px no-repeat;
  color: #333;
}
section.section.how-to-join .colaborate-box .help-link.help-sign {
/*margin-right: 0;*/
  background: #d6765f url("../images/icon-sign.png") center 30px no-repeat;
}
section.section.how-to-join .colaborate-box .help-link i {
  width: 100px;
  height: 100px;
  display: block;
}
section.section.how-to-join p {
  font-size: 16px;
  line-height: 34px;
  text-align: center;
}
section.section.how-to-join p:last-child {
  margin-bottom: 0;
}
section.section.links {
  padding: 0;
  color: #fff;
  background: #f1f1f1;
}
section.section.links .link-box {
  display: inline-block;
  width: 50%;
  float: left;
  text-transform: uppercase;
  font-family: "brandon-grotesque";
  text-align: center;
  padding: 70px 0;
  font-size: 16px;
}
section.section.links .link-box span {
  display: block;
  margin-bottom: 20px;
  letter-spacing: 2px;
}
section.section.links .link-box.facebook {
  color: #3a5998;
  box-shadow: #ccc 1px 0 0 inset;
}
section.section.links .link-box.facebook iframe {
  margin-top: 3px;
  padding: 10px;
  border: none;
  overflow: hidden;
  width: 450px;
  height: 24px;
}
section.section.links .link-box.twitter {
  color: #0babed;
  background: rgba(0,0,0,0.08);
}
section.section.links .link-box.twitter iframe {
  margin: 12px 20px 8px 20px;
}
section.section.links .link-box.wiki,
section.section.links .link-box.blog {
  height: 45px;
  padding-top: 95px;
}
section.section.links .link-box.wiki a,
section.section.links .link-box.blog a {
  color: #fff;
}
section.section.links .link-box.wiki {
  background-color: #6e303a;
}
section.section.links .link-box.blog {
  background-color: #2d6751;
}
footer {
  font-family: "brandon-grotesque";
  background: #222;
  text-align: center;
  color: #cacac2;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 11px;
  letter-spacing: 3px;
}
footer nav {
  padding: 60px;
}
footer nav ul.nav {
  margin: 0;
}
footer nav ul.nav li {
  display: inline-block;
  margin: 0;
  padding: 0;
}
footer nav ul.nav li a {
  display: inline-block;
  color: #cacac2;
  padding: 0;
  text-decoration: none;
  margin: 0 20px;
}
footer nav ul.nav li a:hover {
  color: #fff;
  background: none;
}
footer .last-line {
  border-top: 1px solid #333;
  padding: 20px;
  color: #cacac2;
}
/* #Page Styles
================================================== */
/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  section.section {
    padding: 100px 20px;
  }
  section.section.argentina .argentina-content .video-buenos-aires {
    float: none;
    width: 520px;
    margin: auto;
  }
  section.section.argentina .argentina-content .what-we-need {
    margin: auto;
    margin-top: 40px;
    float: none;
    width: 94%;
    text-align: center;
  }
  section.section.argentina .argentina-content .what-we-need .btn {
    margin: 30px 20px 0 30px;
  }
  section.section.who-we-are .join-the-team .btn.btn-join {
    margin-top: 30px;
    display: inline-block;
  }
  section.section.links .link-box {
    padding: 30px 0;
    float: none;
    width: 100%;
  }
  footer nav {
    padding: 40px 0;
  }
  footer nav ul.nav li a {
    margin: 0 14px;
  }
}
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  section.section .section-title {
    width: auto;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  body {
    padding: 0;
  }
  section.section {
    padding: 40px;
    background-image: none !important;
  }
  section.section .section-title {
    width: auto;
    margin-bottom: 30px;
  }
  section.section .section-title h2 {
    font-size: 18px;
  }
  section.section .section-title .description {
    font-size: 16px;
    line-height: 28px;
  }
  section.section.splash {
    padding: 0;
    height: auto !important;
  }
  section.section.splash .section-title {
    width: auto;
    margin: 0;
    bottom: 0;
  }
  section.section.splash .section-title .description {
    font-size: 16px;
    line-height: 28px;
  }
  section.section.splash .section-title .btn {
    margin-bottom: 20px;
  }
  section.section.splash .arrow-down {
    display: none;
  }
  section.section.argentina .argentina-content {
    width: auto;
  }
  section.section.argentina .argentina-content .video-buenos-aires {
    width: auto;
  }
  section.section.who-we-are {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  section.section.who-we-are .description {
    float: none;
    width: 100%;
    margin: 0;
    text-align: center;
  }
  section.section.who-we-are .join-the-team {
    margin-top: 20px;
    line-height: 30px;
  }
  section.section.democracy-network .browser {
    background-size: cover;
    width: auto;
  }
  section.section.democracy-network .browser .dot {
    display: none;
  }
  section.section.who-we-are .members a {
    width: 20%;
  }
  section.section.argentina .argentina-content .video-buenos-aires iframe {
    height: 200 x;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  body {
    color: none;
  }
  section.section.splash .section-title {
    padding: 20px;
  }
  section.section.splash .section-title .description {
    font-size: 16px;
  }
  section.section.splash .section-title .btn {
    margin-bottom: 20px;
  }
  footer {
    font-size: 10px;
  }
  footer nav {
    display: none;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  body {
    color: none;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
